.wholeSection{
    margin:100px;
}
.textArea{
    height:200px;
    width: 100%;
}
p{
    font-size: 20px;
}
.btn{
    padding:12px;
    background-color:black;
    color:white;
    border-radius:5px;
    border:0;
    font-size:16px;
    margin: 5px 5px 5px 5px;
    cursor:pointer

}
.btn:hover{
    background-color:rgb(177, 177, 177)
}